.about-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #444444;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 3em 1.5em;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: .2em;
}

.about-container p {
    padding: .8em;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    max-width: 450px;
    line-height: 1.75em;
}