.about-container {
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid red;
    margin-left: 2em;
    margin-right: 2em;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: .2em;
}

.about-container p {
    font-size: 1.3rem;
    font-weight: 300;
    max-width: 450px;
    line-height: 1.75em;
}

@media (min-width: 1000px) {
    .about-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .about-container h2 {
        font-size: 4rem;
    }
}