.about-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2em;
    margin-right: 2em;
}

.about-container h2 {
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: .2em;
    color: #E5DE8A;
}

.about-container p {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5;
}

@media (min-width: 1000px) {
    .about-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .about-container h2 {
        font-size: 4rem;
    }
}