.portfolio-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
}

.portfolio-container h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: .5em;
    font-weight: bold;
}