.portfolio-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2em;
    margin-right: 2em;
}

.projects {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.2em;
    color: #E5DE8A;
}

hr {
    color: #1B1800;
    background-color: #1B1800;
    height: 1px;
    border: none;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
}

@media (min-width: 800px) {
    .portfolio-container {
        flex-wrap: wrap;
        margin-left: 10em;
        margin-right: 10em;
    }

    .portfolio-container h2 {
        font-size: 4rem;
    }

    .all-portfolios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}