.portfolio-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2em;
    margin-right: 2em;
}

.projects {
    font-size: .875rem;
    font-weight: 600;
    margin-top: 5em;
    margin-bottom: 0.2em;
    color: #E5DE8A;
}

@media (min-width: 800px) {
    .portfolio-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}