.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 6em;
    margin-top: 4em;
}

.footer-socials {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fa-github {
    color: white;
}

.fa-linkedin {
    color: white;
}