

.hero-container {
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 5.625em;
}

.hero-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 100%;
    max-width: 25rem;
    border: 10px solid rgb(255, 255, 255);
}

.hero-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.hero-img-container p {
    font-size: 50px;
    color: black;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.hero-text p {
    margin-top: .5em;
    font-size: 1.15rem;
    max-width: 450px;
    margin-bottom: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.hero-container h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #FFEE33;
    line-height: .9;
}

.hero-text h2 {
    font-size: 1.2rem;
    padding: 0 1em;
}

.hero-text .complex {
    color: #c95243;
}

.hero-text .simple {
    color: #44A1A0;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    margin-top: 1em;
}

@media (min-width: 1000px) {
    .hero-container {
        margin-left: 15em;
        margin-right: 15em;
    }

    .hero-text {
        text-align: center;
    }

    .hero-container h1 {
        text-align: center;
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 2rem;
        max-width: 100%;
    }
}



@media (min-width: 1600px) {
    .hero-container {
        flex-direction: row;
        justify-content: space-around;
        margin: 10em;
        margin-right: 15em;
        margin-left: 15em;
    }

    .hero-img {
        width: 50%;
        margin: auto;
        margin-top: 0;
        max-width: 500px;
    }

    .hero-text {
        text-align: left;
        align-items: start;
        width: 50%;
    }

    .hero-text p {
        font-size: 1.7rem;
        max-width: none;
    }

    .hero-container h1 {
        font-size: 4.5rem;
        text-align: left;
    }

    .icons {
        margin-top: 4em;
    }
}