nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: .875rem;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
}

.navLinks {
    display: flex;
    list-style: none;
    width: 100%;
}

li {
    flex: 1 1 0px;
    color: white;
    text-decoration: none;
}

nav ul li:nth-child(2) {
    margin-left: 5em;
}

.navLinks a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: white;
}

@media (hover: hover) {
    .navLinks a:hover {
        color: yellow;
    }
}