.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(233, 233, 233);
    height: 40px;
}

nav {
    height: 100%;
}

.navLinks {
    display: flex;
    list-style: none;
    height: 100%;
}

li,
.navLinks a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.navLinks a {
    margin-right: 1em;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    margin-left: 1em;
}