.showcase-container {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

img {
    height: auto;
    width: 100%;
    max-width: 500px;
}

.showcase-container p {
    font-size: 1.2rem;
    color: #444444;
}

.showcase-container h3 {
    font-size: 1.8rem;
    margin-bottom: .8em;
    color: #444444;
}

.link {
    display: flex;
    font-size: .9rem;
    background-color: rgb(0, 12, 116);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

.githubLink {
    background-color: black;
}

@media(min-width: 800px) {
    .showcase-container {
        width: 50%;
    }
}