.showcase-container {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

img {
    width: 100%;
    max-width: 500px;
    margin-top: 2.5em;
}

.showcase-container p {
    font-size: .875rem;
    font-weight: 600;
    color: #FFFFFF;
}

.showcase-container h3 {
    font-size: 1rem;
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-weight: 600;
    color: #E5E2B8;
    text-transform: uppercase;
}

.showcase-links {
    display: flex;
    width: 100%;
    border: 1px solid green;
    text-align: center;
    margin-top: 2em;
}

.link {
    flex: 1 1 0px;
    font-size: .9rem;
    font-weight: 900;
    background-color: #FFF04D;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.1em;
    margin-right: 1.5em;
}

.githubLink {
    background-color: #1A1A1A;
    color: white;
    margin-right: 0;
    margin-left: 1.5em;
}

@media(min-width: 800px) {
    .showcase-container {
        width: 50%;
    }
}